# Mac OS X
.DS_Store

# Android project
.gradle
.android
local.properties
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
caches/
native/
build/
*.hprof

# Crashlytics
crashlytics-build.properties
com_crashlytics_export_strings.xml

xcshareddata/
xcuserdata/
iOS/build/
Android/app/build/
Android/baker/build/
iOS_Native/Build/
vcs.xml
misc.xml
*.apk
*.hprof

